.favoriteButton {
  display: block;
  padding: 0;
  width: 2rem;
  height: 2rem;
  background-color: white;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
  border: 2px solid transparent; 
}

.isFavorite {
  @apply favoriteButton text-yellow-400;
}

.isNotFavorite {
  @apply favoriteButton text-gray-300;
}


@media (min-width: 640px) {
  .sm\:favoriteButton {
    @apply w-6 h-6;
  }
}

@media (min-width: 768px) {
  .md\:favoriteButton {
    @apply w-8 h-8;
  }
}
